/*https://www.behance.net/gallery/4644061/Beehive-Matches*/

.fieldWrapper {
    display: table;
    margin: 0 auto;
    border: 1px solid #C0C0C0;
    width: 600px;
    margin-top: 20px;
    margin-bottom: 30px;
    position: relative;
    height: 400px;
    /*background-image: url(../images/goboard.jpg);*/
}

.fieldWrapper .results.results_player1 {
    left: -35px;
}
.fieldWrapper .results {
    width: 20px;
    position: absolute;
    background: #C9DDF0;
    /* background: #ececec; */
    margin: 0;
    right: -35px;
    top: 0;
    bottom: 0;
    vertical-align: top;
}

.fieldWrapper .results .resultsLine {
    width: 100%;
    height: 0%;
    left: 0;
    background: #67A1D9;
    /* background: #CFCFCF; */
    position: absolute;
    bottom: 0;
}

.fieldWrapper .results span {
    position: absolute;
    bottom: -20px;
    left: -2px;
    width: 100%;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
}

.fieldInfoWrapper {
    position: absolute;
    font-size: 12px;
    text-align: center;
    width: 100%;
    margin-top: 6px;
}

.row {
    display: table-row;
}

.cell.waiting {
    opacity: 0.5;
}

.cell.closed:not(.flag):hover {
    opacity: 0.9;    
}

.linesWrapper .stone {
    position: relative;
    display: inline-block;
    background-image: url(../images/match_1_50.png);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    cursor: pointer;
}

.linesWrapper {
    margin: 100px auto;
    width: 500px;
}

.linesWrapper .stonesLine {
    margin-top: 15px;
}

.linesWrapper .stone.stone_hovered {
    -webkit-filter: brightness(150%);
    filter: brightness(150%);
    -moz-filter: brightness(150%);
}

.linesWrapper .stone .digit {
    position: absolute;
    font-size: 18px;
    color: black;
    text-align: center;
    width: 50px;
    height: 40px;
    top: 15px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.linesWrapper .stone.removed {
    visibility: hidden;
}